@use "../utils/function" as func;
@use "../base/typograph" as fontBig;
@use "../utils/fonts" as font;
@use "../utils/mixins" as mix;
@use "../utils/varibles" as var;
@use "../layout/flex" as flx;
@use "../components/buttons" as comb;

.korzinka-page {
  margin-top: 80px;
  .korzinka-page__menu {
    padding-top: 60px;
    @include flx.flex(0, center, 25px);
    a {
      @include font.font(400, 20px, 120%, 0);
      color: var(--color-FFFFFF);
      &:hover {
        color: var(--color-FF6633);
      }
    }
  }
  .korzinka-page__title {
    position: relative;
    #korzinka_card_count {
      border-radius: 10px;
      background-color: var(--color-70c05b);
      color: var(--color-FFFFFF);
      padding: 5px 10px;
      position: absolute;
      font-size: 20px;
      top: 20px;
      left: 260px;
    }
    h2 {
      @include font.font(700, 64px, 150%, 0);
      color: var(--color-FFFFFF);
    }
  }
  .korzinka-page__content__empty {
    margin-top: 60px;
    max-width: 400px;
    @include flx.flex(0, 0, 48px);
    padding: 10px;
    background-color: var(--color-faf7eb);
    border-radius: 10px;
    .korzinka-desc {
      @include flx.flex(0, center, 8px);
      span {
        @include flx.flex(center, center, 0px);
        width: 24px;
        height: 24px;
        border-radius: 4px;
        border-width: 1px;
        background-color: var(--color-70c05b);
      }
      p {
        @include font.font(400, 18px, 150%, 0);
        color: var(--color-606060);
      }
    }
    .korzinka-desc-udalit {
      p {
        @include font.font(400, 18px, 150%, 0);
        color: var(--color-FF6633);
      }
    }
  }
  .korzinka-page__content {
    width: 100%;
    @include flx.flex(space-between, 0, 0);
    .korzinka-page__content__cards {
      width: 860px;
      height: 500px;
      overflow-y: auto;
      margin-top: 24px;
      margin-bottom: 116px;
      @include flx.flex(0, 0, 40px);
      flex-direction: column;
      .korzinka-page__content__card {
        max-width: 876px;
        border-radius: 4px;
        padding: 10px 10px 0 0;
        @include flx.flex(space-between, 0, 0);
        background-color: var(--color-FFFFFF);
        .korzinka-img-name {
          @include flx.flex(0, 0, 8px);
          .korzinka-img {
            position: relative;
            z-index: 1;
            .custom-checkbox {
              z-index: 2;
              display: inline-block;
              @include mix.position(relative, -60px, no, no, 40px);
              width: 24px;
              height: 24px;
              input {
                width: 0;
                height: 0;
                &:checked + .checkmark {
                  background-color: var(--color-70c05b);
                  .icon {
                    display: block;
                  }
                }
              }
              .checkmark {
                @include mix.position(absolute, 0, no, no, 0);
                height: 24px;
                width: 24px;
                background-color: #eee;
                border-radius: 4px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                @include flx.flex(center, center, 0);
                cursor: pointer;
                .icon {
                  width: 16px;
                  height: 16px;
                  display: none;
                }
              }
            }
          }
          .korzinka-name {
            h3 {
              @include font.font(400, 16px, 150%, 10%);
            }
            p {
              @include font.font(700, 12px, 150%, 10%);
              color: var(--color-414141);
              span {
                @include font.font(400, 12px, 150%, 10%);
                color: var(--color-606060);
              }
            }
          }
        }
        .korzinka-count {
          border-radius: 4px;
          @include flx.flex(center, center, 8px);
          height: 40px;
          padding: 8px;
          background-color: var(--color-70c05b);
          button {
            cursor: pointer;
            border-radius: 4px;
            border: none;
            background-color: var(--color-70c05b);
          }
          span {
            @include font.font(400, 16px, 150%, 10%);
            color: var(--color-FFFFFF);
          }
        }
        .korzinka-price {
          @include font.font(700, 18px, 150%, 10%);
        }
      }
    }
    .zakaz-oformilena {
      width: 272px;
      height: 430px;
      border-radius: 10px;
      padding: 10px;
      background-color: var(--color-FFFFFF);
      margin-top: 60px;
      .chekbox-menu {
        @include flx.flex(0, center, 10px);
        .switch {
          position: relative;
          display: inline-block;
          width: 46px;
          height: 24px;

          input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            border-radius: 24px;
            transition: 0.4s;

            &::before {
              position: absolute;
              content: "";
              height: 20px;
              width: 20px;
              left: 2px;
              bottom: 2px;
              background-color: white;
              transition: 0.4s;
              border-radius: 50%;
            }
          }
          input:checked + .slider {
            background-color: var(--color-70c05b); // Yashil fon

            &::before {
              transform: translateX(22px); // Suriladi
            }
          }
        }
        h4 {
          @include font.font(400, 16px, 150%, 0);
          color: var(--color-414141);
        }
      }
      .zakaz-karta-p {
        padding-top: 20px;
        @include font.font(400, 16px, 150%, 0);
        color: var(--color-8f8f8f);
      }
      .zakas-tovarlar {
        padding-top: 50px;
        @include flx.flex(space-between, center, 0);
        p {
          @include font.font(400, 16px, 150%, 0);
          color: var(--color-8f8f8f);
        }
        h4 {
          @include font.font(400, 16px, 150%, 0);
          color: var(--color-414141);
        }
      }
      .zakaz-skidka {
        padding-top: 10px;
        @include flx.flex(space-between, center, 0);
        p {
          @include font.font(400, 16px, 150%, 0);
          color: var(--color-8f8f8f);
        }
        h3 {
          @include font.font(700, 16px, 150%, 0);
          color: var(--color-FF6633);
        }
      }
      .zakaz-itog {
        padding-top: 56px;
        @include flx.flex(space-between, center, 0);
        h3 {
          @include font.font(700, 24px, 150%, 0);
          color: var(--color-414141);
        }
        p {
          @include font.font(400, 16px, 150%, 0);
          color: var(--color-8f8f8f);
        }
      }
      button {
        margin: 0 auto;
        display: block;
        margin-top: 60px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        padding: 18px 16px;
        background-color: var(--color-fcd5ba);
        color: var(--color-FF6633);
        @include font.font(400, 24px, 150%, 0);
        transition: 200ms;
        &:hover {
          background-color: var(--color-FF6633);
          color: var(--color-FFFFFF);
        }
        &:active {
          background-color: var(--color-FF6633);
          color: var(--color-FFFFFF);
        }
      }
    }
  }
}
