@use "../utils/mixins" as mix;
@use "../layout/flex" as flx;
@use "../components/buttons" as comb;
@use "../utils/fonts" as font;

%nav--menu-links {
  a {
    @include font.font(400, 12px, 150%, 0%);
    color: var(--color-414141);
    @include flx.flex(0, center, 8px);
    flex-direction: column;
    transition: 0.3s all;
    &:hover {
      color: var(--color-FF6633);
    }
  }
  a:hover img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(94%) saturate(1000%) hue-rotate(-10deg)
      brightness(100%) contrast(100%);
  }
}
%nav--menu-mobile-links {
  a {
    @include flx.flex(0, center, 5px);
    flex-direction: column;
    @include font.font(400, 15px, 150%, 0%);
    cursor: pointer;
    border-radius: 4px;
    color: var(--color-8f8f8f);
    transition: 0.5s all;
    &:hover {
      color: var(--color-FF6633);
    }
  }
  a:hover img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(94%) saturate(1000%) hue-rotate(-10deg)
      brightness(100%) contrast(100%);
  }
}
header {
  background-color: var(--color-FFFFFF);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 16px 0;
  .nav-desctop {
    width: 100%;
    @include flx.flex(space-between, center, 40px);
    @media (max-width: 1055px) {
      @include flx.flex(space-between, center, 10px);
    }
    .nav-logo {
      a {
        @include flx.flex(start, center, 12px);
        @media (max-width: 1000px) {
          .nav-logo-2 {
            display: none;
          }
        }
      }
    }
    ul {
      width: 100%;
      @include flx.flex(space-between, center, 16px);
      .nav-menu-Каталог {
        a {
          padding: 8px 20px 8px 8px;
          @media (max-width: 800px) {
            padding: 10px;
          }
          .hamburger {
            .icon-menu {
              --gap: 5px;
              --height-bar: 3px;
              --pos-y-bar-one: 0;
              --pos-y-bar-three: 0;
              --scale-bar: 1;
              --rotate-bar-one: 0;
              --rotate-bar-three: 0;
              width: 25px;
              display: flex;
              flex-direction: column;
              gap: var(--gap);
              cursor: pointer;
              position: relative;
            }

            .bar {
              position: relative;
              height: var(--height-bar);
              width: 100%;
              border-radius: 0.9rem;
              background-color: var(--color-FFFFFF);
            }

            .bar--1 {
              top: var(--pos-y-bar-one);
              transform: rotate(var(--rotate-bar-one));
              transition: top 200ms 100ms, transform 100ms;
            }

            .bar--2 {
              transform: scaleX(var(--scale-bar));
              transition: transform 150ms 100ms;
            }

            .bar--3 {
              bottom: var(--pos-y-bar-three);
              transform: rotate(var(--rotate-bar-three));
              transition: bottom 200ms 100ms, transform 100ms;
            }

            .check-icon:checked + .icon-menu > .bar--1 {
              transition: top 200ms, transform 200ms 100ms;
            }

            .check-icon:checked + .icon-menu > .bar--3 {
              transition: bottom 200ms, transform 200ms 100ms;
            }

            .check-icon:checked + .icon-menu {
              --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
              --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
              --scale-bar: 0;
              --rotate-bar-one: 45deg;
              --rotate-bar-three: -45deg;
            }
          }
          @include font.font(400, 16px, 150%, 0%);
          cursor: pointer;
          border-radius: 4px;
          background-color: var(--color-70c05b);
          @include flx.flex(0, center, 20px);
          color: var(--color-FFFFFF);
          transition: 0.5s all;
          &:hover {
            background-color: var(--color-FF6633);
          }
        }
        @media (max-width: 800px) {
          span {
            display: none;
          }
        }
        @media (max-width: 620px) {
          display: none;
        }
      }
      .nav-menu-Search {
        border-radius: 4px;
        max-width: 374px;
        padding: 8px 15px;
        width: 100%;
        @include flx.flex(0, center, 0);
        border: 1px solid var(--color-70c05b);
        @media (max-width: 620px) {
          max-width: 674px;
        }
        input {
          color: var(--color-8f8f8f);
          @include font.font(400, 16px, 150%, 0%);
          width: 100%;
          border: none;
          outline: none;
          &::-webkit-search-cancel-button {
            display: none;
          }
        }
        img {
          cursor: pointer;
          &:hover {
            filter: brightness(0) saturate(100%) invert(38%) sepia(94%) saturate(1000%)
              hue-rotate(-10deg) brightness(100%) contrast(100%);
          }
        }
      }
      .nav-menu-Избранное {
        @extend %nav--menu-links;
        @media (max-width: 620px) {
          display: none;
        }
      }
      .nav-menu-Заказы {
        @extend %nav--menu-links;
        @media (max-width: 620px) {
          display: none;
        }
      }
      .nav-menu-Корзина {
        @extend %nav--menu-links;
        @media (max-width: 620px) {
          display: none;
        }
      }
      .nav-menu-avatar {
        @include flx.flex(0, center, 10px);
        span {
          margin-left: 10px;
          @include font.font(400, 16px, 150%, 0%);
          color: var(--color-232323);
          transition: 0.3s all;
          &:hover {
            color: var(--color-FF6633);
          }
        }
        @media (max-width: 1000px) {
          span {
            display: none;
          }
        }
        @media (max-width: 620px) {
          display: none;
        }
      }
      .nav-menu-chevron-down {
        &:hover img {
          filter: brightness(0) saturate(100%) invert(38%) sepia(94%) saturate(1000%)
            hue-rotate(-10deg) brightness(100%) contrast(100%);
        }
        @media (max-width: 620px) {
          display: none;
        }
      }
    }
  }

  .nav-mobile {
    padding: 13.5px 10px 0 10px;
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--color-FFFFFF);
    @media (max-width: 620px) {
      display: flex;
    }
    ul {
      width: 100%;
      @include flx.flex(space-between, center, 0);
      .nav-menu-Каталог {
        @extend %nav--menu-mobile-links;
        a {
          .hamburger {
            display: flex;
            flex-direction: column;
            gap: 7px;
            .bar {
              transition: 0.5s all;
              border-radius: 5px;
              width: 25px;
              height: 2.5px;
              background-color: var(--color-8f8f8f);
            }
          }
        }
        a:hover .bar {
          background-color: var(--color-FF6633);
        }
      }
      .nav-menu-Избранное {
        @extend %nav--menu-mobile-links;
      }
      .nav-menu-Заказы {
        @extend %nav--menu-mobile-links;
      }
      .nav-menu-Корзина {
        @extend %nav--menu-mobile-links;
      }
    }
  }
}
