@use "../utils/mixins" as mix;
@use "../layout/flex" as flx;
@use "../components/buttons" as btns;
@use "../utils/fonts" as font;


%nav--menu-links {
  a {
    @include font.font(400, 12px, 150%, 0%);
    color: var(--color-414141);
    @include flx.flex(0, center, 8px);
    flex-direction: column;
    transition: 0.3s all;
    &:hover {
      color: var(--color-FF6633);
    }
  }
  a:hover img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(94%) saturate(1000%) hue-rotate(-10deg)
      brightness(100%) contrast(100%);
  }
}
header {
  width: 100%;
  z-index: 100;
  padding: 16px 0;
  background-color: var(--color-FFFFFF);
  box-shadow: 2px 4px 8px 0px var(--color-0000001A);

  @include mix.position(fixed, 0, no, no, no);
  .nav__desctop {
    width: 100%;
    @include mix.position(relative, no, no, no, no);
    @include flx.flex(space-between, center, 40px);
    @media (max-width: 1055px) {
      @include flx.flex(space-between, center, 10px);
    }
    &__logo {
      &__link {
        @include flx.flex(start, center, 12px);
        @media (max-width: 1000px) {
          &__2 {
            display: none;
          }
        }
      }
    }
    .nav__menu {
      width: 100%;
      @include flx.flex(space-between, center, 16px);
      &__Каталог {
        @include flx.flex(0, center, 20px);
        @include btns.btn(8px 20px 8px 8px, 4px, none);
        background-color: var(--color-70c05b);
        transition: 0.5s all;
        &:hover {
          background-color: var(--color-FF6633);
        }
        a {
          @include flx.flex(0, center, 20px);
          color: var(--color-FFFFFF);
          @include font.font(400, 16px, 150%, 0%);
          .hamburger {
            .icon-menu {
              --gap: 5px;
              --height-bar: 3px;
              --pos-y-bar-one: 0;
              --pos-y-bar-three: 0;
              --scale-bar: 1;
              --rotate-bar-one: 0;
              --rotate-bar-three: 0;
              width: 25px;
              display: flex;
              flex-direction: column;
              gap: var(--gap);
              cursor: pointer;
              position: relative;
            }

            .bar {
              position: relative;
              height: var(--height-bar);
              width: 100%;
              border-radius: 0.9rem;
              background-color: var(--color-FFFFFF);
            }

            .bar--1 {
              top: var(--pos-y-bar-one);
              transform: rotate(var(--rotate-bar-one));
              transition: top 200ms 100ms, transform 100ms;
            }

            .bar--2 {
              transform: scaleX(var(--scale-bar));
              transition: transform 150ms 100ms;
            }

            .bar--3 {
              bottom: var(--pos-y-bar-three);
              transform: rotate(var(--rotate-bar-three));
              transition: bottom 200ms 100ms, transform 100ms;
            }

            .check-icon:checked + .icon-menu > .bar--1 {
              transition: top 200ms, transform 200ms 100ms;
            }

            .check-icon:checked + .icon-menu > .bar--3 {
              transition: bottom 200ms, transform 200ms 100ms;
            }

            .check-icon:checked + .icon-menu {
              --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
              --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
              --scale-bar: 0;
              --rotate-bar-one: 45deg;
              --rotate-bar-three: -45deg;
            }
          }
        }
        @media (max-width: 800px) {
          span {
            display: none;
          }
        }
        @media (max-width: 660px) {
          display: none;
        }
        @media (max-width: 800px) {
          @include btns.btn(8px 8px 8px 8px, 4px, none);
        }
      }

      &__Search {
        @include btns.btn(8px 15px, 4px, 1px solid var(--color-70c05b));
        @include flx.flex(0, center, 0);
        max-width: 374px;
        width: 100%;
        @media (max-width: 620px) {
          max-width: 674px;
        }
        input {
          @include font.font(400, 16px, 150%, 0%);
          color: var(--color-8f8f8f);
          outline: none;
          border: none;
          width: 100%;
          &::-webkit-search-cancel-button {
            display: none;
          }
        }
        img {
          cursor: pointer;
          &:hover {
            filter: brightness(0) saturate(100%) invert(38%) sepia(94%) saturate(1000%)
              hue-rotate(-10deg) brightness(100%) contrast(100%);
          }
        }
      }
      &__Избранное {
        @extend %nav--menu-links;
        @media (max-width: 620px) {
          display: none;
        }
      }
      &__Заказы {
        @extend %nav--menu-links;
        @media (max-width: 620px) {
          display: none;
        }
      }
      &__Корзина {
        @extend %nav--menu-links;
        @media (max-width: 620px) {
          display: none;
        }
      }
      &__avatar {
        @include flx.flex(0, center, 10px);
        span {
          @include font.font(400, 16px, 150%, 0%);
          color: var(--color-232323);
          transition: 0.3s all;
          margin-left: 10px;
          &:hover {
            color: var(--color-FF6633);
          }
        }
        @media (max-width: 1000px) {
          span {
            display: none;
          }
        }
        @media (max-width: 620px) {
          display: none;
        }
      }
      &__chevron__down {
        &:hover img {
          filter: brightness(0) saturate(100%) invert(38%) sepia(94%) saturate(1000%)
            hue-rotate(-10deg) brightness(100%) contrast(100%);
        }
        @media (max-width: 620px) {
          display: none;
        }
      }
    }
  }
  .nav__menu__Каталог__menu__pages {
    display: none;
    width: 100%;
    ul {
      padding: 20px 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: 1040px) {
        max-width: 100%;
        width: 100vh;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        gap: 20px;
      }
      @media (max-width: 648px) {
        max-width: 100%;
        width: 100vh;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        gap: 20px;
      }
      @media (max-width: 498px) {
        max-width: 100%;
        width: 100vh;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        gap: 20px;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 24px;
        li {
          a {
            white-space: nowrap;
            @include font.font(700, 16px, 150%, 0%);
            color: var(--color-414141);
            transition: 0.3s all;
            &:hover {
              color: var(--color-FF6633);
            }
          }
        }
      }
    }
  }
  .active {
    display: flex !important;
  }

  %nav--menu-mobile-links {
    a {
      @include flx.flex(0, center, 5px);
      flex-direction: column;
      @include font.font(400, 15px, 150%, 0%);
      cursor: pointer;
      border-radius: 4px;
      color: var(--color-8f8f8f);
      transition: 0.5s all;
      &:hover {
        color: var(--color-FF6633);
      }
    }
    a:hover img {
      filter: brightness(0) saturate(100%) invert(38%) sepia(94%) saturate(1000%) hue-rotate(-10deg)
        brightness(100%) contrast(100%);
    }
  }
  .nav__mobile {
    @include mix.position(fixed, no, 0, 0, 0);
    background-color: var(--color-FFFFFF);
    padding: 13.5px 10px 0 10px;
    display: none;
    z-index: 100;
    width: 100%;
    @media (max-width: 660px) {
      display: flex;
    }
    &__menu {
      width: 100%;
      @include flx.flex(space-between, center, 0);
      &__Каталог {
        @extend %nav--menu-mobile-links;
        a {
          .hamburger {
            @include flx.flex(0, 0, 7px);
            flex-direction: column;
            .bar {
              @include btns.btn(0, 5px, 0);
              background-color: var(--color-8f8f8f);
              transition: 0.5s all;
              height: 2.5px;
              width: 25px;
            }
          }
        }
        a:hover .bar {
          background-color: var(--color-FF6633);
        }
      }
      &__Избранное {
        @extend %nav--menu-mobile-links;
      }
      &__Заказы {
        @extend %nav--menu-mobile-links;
      }
      &__Корзина {
        @extend %nav--menu-mobile-links;
      }
    }
  }
}
