@use "../utils/function" as func;
@use "../base/typograph" as fontBig;
@use "../utils/fonts" as font;
@use "../utils/mixins" as mix;
@use "../utils/varibles" as var;
@use "../layout/flex" as flx;
@use "../components/buttons" as comb;

* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.container {
 
  $mb-padding: 20;
  max-width: func.container(1440, 116, $mb-padding);
  margin: 0 auto;
  padding: 0 $mb-padding + px;
}
html,
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-faf7eb);
}

body {
  background: url("../../images/main/display_LE_upscale_balanced_x4.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}
%root-card {
  .aksiya__card {
    width: 272px;
    box-shadow: 1px 2px 4px 0px var(--color-0000001A);
    border-radius: 4px;
    background-color: var(--color-FFFFFF);
    &__image-1 {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 180px;
      .like {
        display: none !important;
        cursor: pointer;
        position: absolute;
        @include flx.flex(center, center, 0px);
        @include mix.position(absolute, 10px, 10px, no, no);
        z-index: 111;
        width: 50px;
        height: 50px;
        background-color: var(--color-fcd5ba);
        border-radius: 5px;
        @media (max-width: 760px) {
          display: flex;
        }
        svg {
          width: 40px;
          height: 40px;
          cursor: pointer;
          path {
            fill: var(--color-FFFFFF);
            stroke: var(--color-FFFFFF);
          }
          &:hover {
            animation: heart 0.3s ease-in-out;
          }
        }
        @keyframes heart {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.2);
          }
          100% {
            transform: scale(1);
          }
        }
      }
      .active-like {
        fill: red !important;
        stroke: red !important;
      }
      .foiz {
        display: none !important;
        width: 50px;
        height: 25px;
        cursor: pointer;
        z-index: 111;
        @include mix.position(absolute, no, no, 10px, 10px);
        color: var(--color-FFFFFF);
        padding: 4px 8px;
        border-radius: 4px;
        background-color: var(--color-FF6633);
        @media (max-width: 760px) {
          display: flex;
        }
      }
      .img-mahsulot {
        height: 150px;
        width: 272px;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;
        }
      }
      .img-mahsulot:hover img {
        transform: scale(1.1);
      }
    }
    .section-Акции-card-texts {
      padding: 8px;
      .цена {
        @include flx.flex(space-between, center, 0px);
        h3 {
          @include font.font(700, 18px, 150%, 0%);
          color: var(--color-414141);
        }
        h4 {
          @include font.font(400, 16px, 150%, 0%);
          color: var(--color-606060);
        }
      }
      .удобство {
        @include flx.flex(space-between, center, 0px);
        span {
          margin-top: 8px;
          @include font.font(400, 12px, 150%, 0%);
          color: var(--color-BFBFBF);
        }
      }
      h5 {
        padding-top: 8px;
        @include font.font(400, 16px, 150%, 0%);
        color: var(--color-414141);
      }
      .text-description-p {
        padding-top: 8px;
        @include font.font(400, 16px, 150%, 0%);
        color: var(--color-414141);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      img {
        padding: 8px 0 8px 0;
      }
      button {
        border-radius: 4px;
        padding: 8px 0 8px 0;
        width: 100%;
        border: 1px solid var(--color-70c05b);
        background-color: var(--color-F3F2F1);
        color: var(--color-70c05b);
        @include font.font(400, 16px, 150%, 0%);
        transition: 0.3s ease;
        &:hover {
          background-color: var(--color-FF6633);
          border: 1px solid var(--color-FF6633);
          color: var(--color-FFFFFF);
        }
      }
      .active-card {
        background-color: var(--color-FF6633);
        border: 1px solid var(--color-70c05b);
        color: var(--color-FFFFFF);
      }
    }
    &:hover .foiz {
      display: flex !important;
    }
    &:hover .like {
      display: flex !important;
    }
  }
}
